body {
    margin: 0;
    padding: 0;
}

.main {
    max-width: 45rem;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    padding: 0 1rem;
}

#start-timer-button {
    margin: 1rem;
    width: min-content;
    display: block;
    justify-self: end;
}

#demo {
    display: block;
    font-size: 5rem;
    margin-bottom: 2rem;
}